

/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {

    #hero {
        height: auto;
        background: url("../images/header.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    
    #dark {
        position: absolute;
        background: hsl(226, 72%, 7%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: .7;
        z-index: 0;
    }
    
    .heroText {
        max-width: 400px;
        margin: auto;
        margin-top: 00px;
    }
    
    .hero-content {
        width: 100%;
        position: relative;
        z-index: 1;
    }
    
    #home-h {
        color: #fff;
        font-size: 1.7em;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .heroText h2 {
        color: #fff;
        font-size: 1em;
        font-weight: normal;
        text-align: center;
    }
    
    #home-p {
        color: #fff;
        font-size: 1em;
        font-weight: normal;
        width: 100%;
        line-height: 1.6em;
        text-align: center;
    }
    
    .heroText button {
        width: 100%;
        height: 55px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .heroText a {
        display: block;
        width: 200px;
        margin: auto;
    }
    
    .heroText .button-solid {
        margin-bottom: 10px;
    }

    .heroText .button-transparent {
        border: none;
    }
}

@media only screen and (min-width: 768px) {

    .heroText {
        margin-top: 100px;
        max-width: 570px;
    }

    #home-h {
        font-size: 3em;
    }

    .heroText h2 {
        width: 500px;
        margin: auto;
        margin-bottom: 50px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    #hero .container {
        max-width: 800px;
    }

    #hero {
        background-attachment: fixed;
        min-height: 100vh; /* makes this section as tall as whatever the screen is */
    }

    .heroText {
        margin-top: 250px;
        margin-left: 0;
        max-width: 600px;
    }

    #home-h {
        text-align: left;
        font-size: 45px;
    }

    .heroText h2 {
        text-align: left;
        line-height: 1.7em;
        width: 400px;
        margin-left: 0;
        font-size: 16px;
    }

    .heroText a {
        display: inline-block;
    }

    .heroText .button-solid {
        margin-right: 20px;
    }

    .heroText .button-transparent {
        border: none;
    }
}

@media only screen and (min-width: 1300px) {

    #hero .container {
        max-width: 1200px;
    }
}

/*-- -------------------------- -->
<---          Action            -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {

    #action {
        position: relative;
        padding-bottom: 200px;
        border-bottom: 8px solid var(--primary);
    }

    .two-col-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 70px;
    }

    .section-image {
        position: absolute;
        bottom: -5px;
        left: -450px;
        width: 100%;
        height: auto;
        z-index: -1;
    }

    .section-image img {
        width: 1200px;
        overflow-x: hidden;
    }

    /* FORM */

    .form-subtitle {
        margin-bottom: 40px;
        color: var(--paragraph-dark);
    }

    form {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-top: 4px solid var(--primary);
        padding: 25px;
        background-color: white;
        border-radius: 5px;
    }

    label,
    input {
        display: block;
    }

    label {
        margin-bottom: 5px;
    }

    input {
        height: 35px;
        width: 100%;
        margin-bottom: 25px;
        border: none;
        background-color: #fafafa;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
    }

    input:last-of-type {
        margin-bottom: 40px;
    }

    button {
        border: none;
        display: inline-block;
        margin-left: auto;
    }

    /* CONTENT */

    .action-content-container h2 {
        position: relative;
        margin-bottom: 45px;
    }

    .action-content-container h2::after {
        background-color: var(--primary);
        height: 5px;
        width: 60px;
        position: absolute;
        bottom: -25px;
        left: 0;
        content: "";
    }

    .action-content-container p {
        color: var(--paragraph-dark);
    }

    .action-content-container p:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) {

    .two-col-container {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    form {
        flex: 50%;
    }

    .action-content-container {
        flex: 50%;
    }

    .action-content-container p {
        margin-bottom: 0px;
    }

    .section-image {
        position: absolute;
        bottom: -5px;
        left: 0px;
        width: 100%;
        height: auto;
        z-index: -1;
    }

    .section-image img {
        width: 100%;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1300px) {

}

/*-- -------------------------- -->
<---          Features          -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {
    
    #features {
        background-color: var(--blue-section);
    }

    #features h2 {
        color: white;
        text-align: left;
    }

    .feature-card {
        margin-bottom: 60px;
    }

    .feature-card img {
        max-width: 45px;
        margin-bottom: 20px;
    }

    .feature-card h3 {
        color: white;
        position: relative;
        margin-bottom: 40px;
    }

    .feature-card h3::after {
        background-color: var(--primary);
        height: 5px;
        width: 60px;
        position: absolute;
        bottom: -22.5px;
        left: 0;
        content: "";
    }

    .feature-card p {
        color: var(--paragraph-light);
    }
}

@media only screen and (min-width: 768px) {

    .features-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .feature-card {
        flex: 50%;
        max-width: 450px;
    }

    .feature-card:nth-child(even) {
        padding-left: 20px;
    }

    .feature-card:nth-child(odd) {
        padding-right: 20px;
    }
}

@media only screen and (min-width: 1024px) {

    .feature-card:nth-child(even) {
        padding-left: 0;
    }

    .feature-card:nth-child(odd) {
        padding-right: 0;
    }
}

@media only screen and (min-width: 1300px) {

}

/*-- -------------------------- -->
<---          Values           -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {

    #values {
        position: relative;
        padding-bottom: 200px;
    }

    .values-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .side-image {
        max-height: 100%;
        max-width: 100%;
    }

    .values-container h2 {
        position: relative;
        margin-bottom: 45px;
    }

    .values-container h2::after {
        background-color: var(--primary);
        height: 5px;
        width: 60px;
        position: absolute;
        bottom: -25px;
        left: 0;
        content: "";
    }

    .values-container h2::after {
        background-color: var(--primary);
        height: 5px;
        width: 60px;
        position: absolute;
        bottom: -25px;
        left: 0;
        content: "";
    }

    .values-container ul {
        padding-left: 0px;
        color: var(--paragraph-dark);
        list-style: none;
    }

    .values-container ul li {
        color: var(--paragraph-dark);
        margin-bottom: 30px;
    }

    .values-container ul li::before {
        content: "\276F";
        color: var(--primary);
        margin-right: 10px;
    }
}

@media only screen and (min-width: 768px) {

    .values-container {
        flex-direction: row;
        align-items: center;
    }

    .side-image {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1300px) {

}